<ion-split-pane>

<ion-menu [content]="content">
  <ion-header>
    <ion-navbar color="dark">
      <ion-title>Menu</ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content overflow-scroll="true" style="margin-top:0">
    <ion-list>
      <ion-item menuClose *ngFor="let page of pages" (click)="navigate(page.component)">{{ page.title }}</ion-item>
    </ion-list>
    <ion-list-header *ngIf="isAdmin">Admin</ion-list-header>
    <ion-list *ngIf="isAdmin" overflow-scroll="true">
      <ion-item menuClose *ngFor="let admin of adminPages" (click)="navigate(admin.component)">{{ admin.title }}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="root" main #content></ion-nav>

</ion-split-pane>
