<navbar></navbar>
<ion-content>
  <ion-card>

    <ion-card-header class="card-header">
      Assign Workout
    </ion-card-header>

    <ion-card-content padding>
      <form [formGroup]="workout">
        <ion-searchbar (ionInput)="getClients($event)"></ion-searchbar>
        <ion-list radio-group formControlName="key">
          <ion-item *ngFor="let client of clients" class="item item-radio">
            <ion-label *ngIf="client.hasOwnProperty('firstName')">{{ client.firstName }} {{client.lastName}} ({{ client.email }})</ion-label>
            <ion-label *ngIf="client.hasOwnProperty('username')">{{ client.username}} ({{ client.email }})</ion-label>
            <ion-radio [value]="client.$key" color="dark" (click)="getDatepicker()"></ion-radio>
          </ion-item>
        </ion-list>

        <div [hidden]="shouldHideDate">
          <ion-item>
            <ion-label>Workout Date</ion-label>
            <ion-datetime displayFormat="M/D/YYYY" pickerFormat="M D YYYY" formControlName="due_at" [(ngModel)]="today" (ionChange)="getParts()"></ion-datetime>
          </ion-item>
        </div>

        <div [hidden]="shouldHideParts">
          <ion-list>
            <ion-item>
              <ion-label>Body Part</ion-label>
              <ion-select formControlName="part" (ionChange)="getExerciseSelect()" cancelText="Cancel" okText="Choose">
                <ion-option *ngFor="let part of parts" value="{{ part.$key }}">{{ part.part }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>

        <div [hidden]="shouldHideExercises">
          <ion-list>
            <ion-item>
              <ion-label>Exercises</ion-label>
              <ion-select formControlName="ex" (ionChange)="getRepSchemeSelector()" cancelText="Cancel" okText="Choose">
                <ion-option *ngFor="let ex of exercises" [value]="ex.$key">{{ ex.exercise }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>

        <div formGroupName="rep_scheme">
            <div [hidden]="shouldHideRepSchemeSelector">
                <ion-list>
                    <ion-item>
                        <ion-label stacked>Rep Scheme</ion-label>
                        <ion-select formControlName="rep_pattern" (ionChange)="getRepScheme()" cancelText="Cancel" okText="Choose">
                            <ion-option value="chose_cluster_reps">Cluster Reps</ion-option>
                            <ion-option value="chose_countdown">Countdown</ion-option>
                            <ion-option value="chose_drop_set">Drop Set</ion-option>
                            <ion-option value="chose_eccentric">Eccentric</ion-option>
                            <ion-option value="chose_ladders">Ladders</ion-option>
                            <ion-option value="chose_peak">Peak</ion-option>
                            <ion-option value="chose_pyramid">Pyramid</ion-option>
                            <ion-option value="chose_sets">Sets/Reps</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </div>

            <div>
              <ion-grid>
                <ion-row [hidden]="shouldHideReps">
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Sets</ion-label>
                      <ion-input formControlName="sets" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Reps</ion-label>
                      <ion-input formControlName="reps" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Weight</ion-label>
                      <ion-input formControlName="weight" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row [hidden]="shouldHideDropSet">
                  <ion-col width-50>
                    <ion-item>
                      <ion-label stacked>Reps (DropSet)</ion-label>
                      <ion-input formControlName="drop_reps" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label stacked>Weight (Drop Set)</ion-label>
                      <ion-input formControlName="drop_weight" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
              </ion-row>
            </ion-grid>

              <ion-item [hidden]="shouldHideCountdown">
                <ion-label stacked>Countdown</ion-label>
                <ion-textarea formControlName="countdown"></ion-textarea>
              </ion-item>

              <ion-item [hidden]="shouldHidePyramid">
                <ion-label stacked>Pyramid</ion-label>
                <ion-textarea formControlName="pyramid"></ion-textarea>
              </ion-item>

              <ion-grid [hidden]="shouldHideCluster">
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Cluster Reps</ion-label>
                      <ion-input formControlName="cluster_reps" type="text"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="workout.get('rep_scheme').hasError('chose_cluster_reps') && workout.get('rep_scheme.cluster_reps').dirty">
                      <div class="text-danger">{{ workout.get('rep_scheme').errors.chose_cluster_reps }}</div>
                    </ion-item>
                    <ion-item *ngIf="workout.get('rep_scheme.cluster_reps').hasError('required')">
                      <div class="text-danger">Cluster reps is required.</div>
                    </ion-item>
                    <ion-item *ngIf="workout.get('rep_scheme.cluster_reps').hasError('number')">
                      <div class="text-danger">Please enter a whole number.</div>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked>Cluster Weight</ion-label>
                      <ion-input formControlName="cluster_weight" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-item [hidden]="shouldHideLadders">
                <ion-label stacked>Ladders</ion-label>
                <ion-textarea formControlName="ladders"></ion-textarea>
              </ion-item>

              <ion-grid [hidden]="shouldHidePartial">
                <ion-row>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label stacked>Partial Reps</ion-label>
                      <ion-input formControlName="partial_reps" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label stacked>Partial Reps Weight</ion-label>
                      <ion-input formControlName="partial_weight" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-item [hidden]="shouldHideEccentric">
                <ion-label stacked>Eccentric</ion-label>
                <ion-textarea formControlName="eccentric"></ion-textarea>
              </ion-item>

              <ion-item [hidden]="shouldHidePeak">
                <ion-label stacked>Peak Contraction</ion-label>
                <ion-textarea formControlName="peak_contraction"></ion-textarea>
              </ion-item>

            </div>
          </div>
        <button ion-button (click)="assignWorkout(key)" block>Assign Workout</button>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>
