<navbar></navbar>


<ion-content>

  <ion-card>

    <ion-card-header class="card-header">
      {{ pageTitle }}: {{ date }}
    </ion-card-header>

    <ion-card-content padding>
      <ion-list *ngIf="workouts">
        <ion-item *ngFor="let workout of workouts | async" text-wrap>
          <h1>{{ workout.theme}} </h1>

          <br />

          <h2>One Point</h2>
          <div [innerHTML]="workout.onePoint"></div>

          <hr />

          <h2>Two Points</h2>
          <div [innerHTML]="workout.twoPoints"></div>

          <hr />

          <h2>Three Points</h2>
          <div [innerHTML]="workout.threePoints"></div>

        </ion-item>
      </ion-list>
      <div *ngIf="noWorkouts">
        <h1>Challenge Details Not Available</h1>

        <br />

        <p>Please check back later. We apologize for the inconvenience.</p>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>
