<navbar></navbar>

<ion-content>

  <ion-card>

    <ion-card-header class="card-header">
      Edit Challenge: {{ challenge.name }}
    </ion-card-header>

    <ion-card-content>
      <h2>Update Name</h2>
      <ion-input #name placeholder="Name" [(ngModel)]="challenge.name"></ion-input>
      <button ion-button (click)="updateName(name.value)">Update</button>

      <hr />

      <h2>Add Day</h2>

      <ion-item>
        <ion-label>Day Number</ion-label>
        <ion-select #dayIndex>
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
          <ion-option value="12">12</ion-option>
          <ion-option value="13">13</ion-option>
          <ion-option value="14">14</ion-option>
          <ion-option value="15">15</ion-option>
          <ion-option value="16">16</ion-option>
          <ion-option value="17">17</ion-option>
          <ion-option value="18">18</ion-option>
          <ion-option value="19">19</ion-option>
          <ion-option value="20">20</ion-option>
          <ion-option value="21">21</ion-option>
          <ion-option value="22">22</ion-option>
          <ion-option value="23">23</ion-option>
          <ion-option value="24">24</ion-option>
          <ion-option value="25">25</ion-option>
          <ion-option value="26">26</ion-option>
          <ion-option value="27">27</ion-option>
          <ion-option value="28">28</ion-option>
          <ion-option value="29">29</ion-option>
          <ion-option value="30">30</ion-option>
        </ion-select>
      </ion-item>

      <ion-input #theme placeholder="Theme"></ion-input>
      <ion-label>One Point</ion-label>
      <ckeditor [config]="ckEditorConfig" #onePt
        [(ngModel)]="ckEditorContent">
        <ckbutton [name]="'saveButton'"
                  [command]="'saveCmd'"
                  (click)="save($event)"
                  [label]="'Save Document'"
                  [toolbar]="'clipboard,1'">
        </ckbutton>
      </ckeditor>

      <ion-label>Two Points</ion-label>

      <ckeditor [config]="ckEditorConfig" #twoPts
                [(ngModel)]="ckEditorContent2">
        <ckbutton [name]="'saveButton'"
                  [command]="'saveCmd'"
                  (click)="save($event)"
                  [label]="'Save Document'"
                  [toolbar]="'clipboard,1'">
        </ckbutton>
      </ckeditor>

      <ion-label>Three Points</ion-label>

      <ckeditor [config]="ckEditorConfig" #threePts
                [(ngModel)]="ckEditorContent3">
        <ckbutton [name]="'saveButton'"
                  [command]="'saveCmd'"
                  (click)="save($event)"
                  [label]="'Save Document'"
                  [toolbar]="'clipboard,1'">
        </ckbutton>
      </ckeditor>
      <button ion-button (click)="addDay(dayIndex.value, theme.value, onePt.value, twoPts.value, threePts.value)">Add Day</button>

      <hr />

      <h2 *ngIf="days">Days</h2>
      <ion-list id="card-sliding-list">
        <ion-item-sliding *ngFor="let day of days">
          <ion-item>
            {{ day.theme }}
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteDay(challenge.$key, day.$key)">Delete</button>
            <button ion-button (click)="manageDay(challenge.$key, day.$key)">Manage</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>
