<navbar></navbar>

<ion-content>

  <ion-card>

    <ion-card-header class="card-header">
      Edit Challenge: {{ challenge.name }}
    </ion-card-header>

    <ion-card-content>
      <h2>Update Name</h2>
      <ion-input #name placeholder="Name" [(ngModel)]="challenge.name"></ion-input>
      <button ion-button (click)="updateName(name.value)">Update</button>

      <hr />

      <h2>Add Day</h2>
      <ion-input #theme placeholder="Theme"></ion-input>
      <ion-label>One Point</ion-label>
      <ckeditor [config]="ckEditorConfig" #onePt
        [(ngModel)]="ckEditorContent">
        <ckbutton [name]="'saveButton'"
                  [command]="'saveCmd'"
                  (click)="save($event)"
                  [label]="'Save Document'"
                  [toolbar]="'clipboard,1'">
        </ckbutton>
      </ckeditor>

      <ion-label>Two Points</ion-label>

      <ckeditor [config]="ckEditorConfig" #twoPts
                [(ngModel)]="ckEditorContent2">
        <ckbutton [name]="'saveButton'"
                  [command]="'saveCmd'"
                  (click)="save($event)"
                  [label]="'Save Document'"
                  [toolbar]="'clipboard,1'">
        </ckbutton>
      </ckeditor>

      <ion-label>Three Points</ion-label>

      <ckeditor [config]="ckEditorConfig" #threePts
                [(ngModel)]="ckEditorContent3">
        <ckbutton [name]="'saveButton'"
                  [command]="'saveCmd'"
                  (click)="save($event)"
                  [label]="'Save Document'"
                  [toolbar]="'clipboard,1'">
        </ckbutton>
      </ckeditor>
      <button ion-button (click)="addDay(theme.value, onePt.value, twoPts.value, threePts.value)">Add Day</button>

      <hr />

      <h2 *ngIf="days">Days</h2>
      <ion-list id="card-sliding-list">
        <ion-item-sliding *ngFor="let day of days">
          <ion-item>
            {{ day.theme }}
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteDay(challenge.$key, day.$key)">Delete</button>
            <button ion-button (click)="manageDay(challenge.$key, day.$key)">Manage</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>
